@media (max-width: 1024px) {

    .container-cards3, .container-cards2 {
        @include contcards (1fr 1fr 1fr, center);
    }
    .cards {
        @include cards (16px, 288px, 10px);
    }
    .container-cards {
        @include contcards (1fr 1fr 1fr, center)
    }
    .container-cards4 {
        @include contcards (1fr 1fr 1fr, center);
        justify-items: center;
    }
    main {
        .bg-div {
            width: 100%;
            height: 500px;
            h3 {
                position: relative;
                top: 250px;
                background-color: #000000bf;
                padding: 5px;
            }
        }
    }
    .container-marcas img {
        width: 350px;
        justify-items: center;
    }
    .grid-img {
        grid-template-columns: 700px;
        grid-template-rows: 400px 400px;

    }
    .grid-img1 {
        grid-template-columns: 600px;
        grid-template-rows: 380px 380px;

    }
    .grid-img2 {
        grid-template-columns: 510px;
        grid-template-rows: 380px 380px;
    }
}
