

.iframe-flex {
    display: flex;
    width: 100%;
    justify-content: center;      
}

main {
    width: 100%;
    .bg-div {
        width: 100%;
        height: 900px;
        background-image: url(../../assets/img/1779.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px;
        h1, h3 {
            color: $bg-secundario;
            text-align: center;
        }
    }
    iframe {
    margin: 50px;
    width: 50%;
    height: 500px;
    } 
    p {
        text-align: center;
    }
}

.flex-section {
    width: 100%;
    display: flex;
    justify-content: end;
}

.flex-section1 {
    width: 100%;
    display: flex;
    justify-content: start;
}

.flex-section2 {
    width: 100%;
    display: flex;
    justify-content: end;
}

.grid-img { 
    width: 100%;
    display: grid;
    margin: 100px;
    grid-template-columns: 650px auto;
    grid-template-rows: 400px;
    background-color: $bg-secundario;
    overflow: hidden;
    border: black solid 1px;
    border-radius: 20px;
    div {
        h4 {
            font-size: 2rem;
            text-align: center;
            margin: 2rem;
        }
        p {
            font-size: 1.5rem;
            margin: 2rem;
            text-align: center;
        }
    }

}

.grid-img1 {
    width: 100%;
    @extend .grid-img;
    grid-template-columns: 500px auto;
    grid-template-rows: 383px;

}

.grid-img2 {
    width: 100%;
    @extend .grid-img;
    grid-template-columns: 500px auto;
    grid-template-rows: 466px;

}